.task-nav {
    display: flex;
    padding: 10px 15px;
    height: 75px;
}

.task-nav__item {
    width: 100%;
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    font-size: .8rem;
    color: #686868;
}

.dark .task-nav__title {
    color: #9f9f9f;
}

.task-nav__title {
    color: #596989;
}

.dark .task-nav__icon {
    background: #1f1f1d;
    color: #9f9f9f;
}

.task-nav__icon {
    font-size: 1.3rem;
    background: #fff;
    color: #666AF7;
    padding: 10px 0;
    border-radius: 9px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
/* 
.dark .task-nav__item:hover {
    background: #396826;
} */

.task-nav__item:hover {
    cursor: pointer;
}

.dark .active .task-nav__title {
    color: #c3c9d4;
}

.active .task-nav__title {
    font-weight: 600;
}

.active .task-nav__icon {
    color: #fff;
    background: #a5a8f8;
}

.dark .active .task-nav__icon {
    color: #9d9d9d;
    background: #2e2e2e;
}

.dark .task-nav__icon:hover {
    color: #9d9d9d;
    background: #404040;
}

.task-nav__icon:hover {
    color: #fff;
    background-color: #9b9cca;
}

.task-nav__item:last-child {
    margin: 0;
}