.dark .task-add {
    background-color: #1e1f1e;
}

.task-add {
  background: #878AF5;
  padding: 25px 15px;
}

.task-add__wrapper {
    display: flex;
    flex-direction: row;
}

.task-add__title {
    font-size: 1.1rem;
    color: #FCFCFF;
    letter-spacing: 1.5px;
    position: relative;
    display: block;
    margin-top: 15px;
}

.dark .task-add__title {
    color: #d5d1d1;
}

.task-add__title:hover .task-add__remove {
    display: block;
}

.task-add__remove {
    display: flex;
    margin-left: 15px;
    background-color: #9FA1F7;
    color: #fff;
    align-items: center;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: .8rem;
    transition: background-color 0.5s ease;
}

.dark .task-add__remove {
    background: #723737;
}

.task-add__remove:hover {
    background-color: #6769cc;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.dark .task-add__remove:hover {
    background: #a54848;
    color: #fff;
}

.task-add__form {
    display: flex;
    position: relative;
    width: 100%;
}

.task-add__input {
    padding: 8px 10px;
    width: 100%;
    background: #f7f4f4;
    color: #34456F;
    border: none;
    border-radius: 30px;
    font-size: .8rem;
}

.dark .task-add__input {
    background: #2e2e2e;
    border: 1px solid #3e3e3e;
    color: #ccc;
}

.dark .task-add__input:focus {
    outline: 1px solid #0e0e0e;
}

.task-add__submit {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #6CA678;
}

.task-add__submit:hover {
    cursor: pointer;
    color: #85b36d;
}