.task {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.task__wrapper {
    background: #F7F7F7;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.task__content {
  height: 320px;
  position: relative;
}

.task__wrapper:last-child {
    margin: 0;
}

.dark .task__wrapper {
    background: #242424;
    border: 1px solid #404040;
}